emacs/**/*.elc
emacs/auto-save-list
emacs/elpa
emacs/eshell
emacs/**/*.eld
emacs/**/*.dat
emacs/.places
emacs/eww-bookmarks
emacs/savehist
emacs/settings.el
emacs/settings.html
mpd/log
mpd/pid
mpd/sticker.sql
mpd/database
mpd/playlists/
mpd/state
